p Hi #{name},
p Thank you for signing up. You can access to our website here 

a(href="http://127.0.0.1:3003" target="_blank") Visit our website
 
p Warm Regards,

p Prashanth Sreepathi,
p 5401 W 57th street,
p Sioux Falls, SD, 57106,
p 6052029052